# Exemplo de arquivo de variáveis de ambiente (.env)
# Copie este arquivo para .env e preencha com seus dados reais

DATABASE_URL=postgresql://postgres:sua_senha@db.xxxxxxx.supabase.co:5432/postgres
SECRET_KEY=sua_chave_secreta_aqui
BLUESOFT_COSMOS_TOKEN=IIkk0LgYkXZPGlJHRgtgdw
